.left {
  .left-nav {
    width: 150px;
  
    .nav-container {
      margin: 0;
      height: 40px;
      line-height: 40px;
      color: #71777c;
  
      .nav {
        color: #71777c;
  
        &:hover {
          color: #1890ff;
        }
      }
  
      .select {
        color: #1890ff;
      }
    }
  }
}