.header {
  .container {
    display: flex;
    max-width: 1156px;
    height: 100%;
    margin: 0 auto;
  
    .logo {
      line-height: 60px;
      font-size: 22px;
      color: #096dd9;
      background-color: #fff;
      padding-right: 25px;
    }
  
    .navs {
      flex: 1;
      border: 0;
      line-height: normal;
      min-width: max-content;
  
      .nav-container {
        height: 100%;
        line-height: 60px;
        color: #71777c;

        .nav {
          color: #71777c;

          &:hover {
            color: #1890ff;
          }
        }

        .select {
          color: #1890ff;
        }
      }
    }
  
    .right {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 400px;
  
      .search {
        width: 180px;
      }

      .select {
        svg {
          color: #1890ff;
        }
      }

      .news {
        font-size: 20px;
        color: #71777c;
        cursor: pointer;
        
        &:hover {
          color: #2593fc;
        }
      }
    }
  }
}